{% load bootstrap %}

<div class="modal-content" id="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Редактирование документа. Пациент {{ p_card.surname }}</h4>
    </div>
    <form method="POST" class="form-horizontal">
    <div class="modal-body">

            {% csrf_token %}
            {{ form|bootstrap_horizontal:'col-md-3' }}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-success modal-success" data-id="{{ p_doc.id }}">Сохранить</button>
    </div>
    </form>
</div>