{% extends 'medcard/menu.html' %}

{% block docmodal %}
<!-- Модальное окно редактирования документа -->
<div id="doc-modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content" id="modal-content">
    <!-- insert docmodal -->
    </div>
    </div>
</div>

{% endblock docmodal %}

{% block content %}

<div class="container">
    <ul class="breadcrumb">
        <li class="active" style="font-size: 20px;">Карточка пациента</li>
    </ul>
    <div class="row">

        <div class="col-md-5">
            <label class="col-md-4">Имя</label>
            <p class="col-md-6">{{ p_card.name }}</p>


            <label class="col-md-4">Фамилия</label>
            <p class="col-md-6">{{ p_card.surname }}</p>

        </div>
        <div class="col-md-5">
            <label class="col-md-4">Дата рождения</label>
            <p class="col-md-6">{{ p_card.birthday|date:"d.m.Y" }}</p>


            <label class="col-md-4">Место рождения</label>
            <p class="col-md-6">{{ p_card.place_of_birth }}</p>

            <label class="col-md-4">Пол</label>
            {% if p_card.gender == 'm' %}
            <p class="col-md-6">мужской</p>
                          {% else %}
            <p class="col-md-6">женский</p>
                          {% endif %}

        </div>

        <div class="col-md-2">
            <a class="btn btn-default" href="{% url 'medcard.views.card_edit' person_id=p_card.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </div>
</div>


<div>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1" role="tab">Обследования</a></li>
        <li><a data-toggle="tab" href="#tab2" role="tab">Анализы</a></li>
        <li class="active"><a data-toggle="tab" href="#docs" role="tab">Документы</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="tab1" class="tab-pane fade">
        <h4>HOME</h4>
        <p>Some content.</p>
    </div>
    <div id="tab2" class="tab-pane fade">
        <h4>Menu 1</h4>
        <p>Some content in menu 1.</p>
    </div>
    <div id="docs" class="tab-pane fade in active">
        <h4>Документы</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип документа</th>
                <th>Номер документа</th>
                <th>Дата выдачи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for doc in p_card.humandocument_set.all %}
                <tr>
                    <td>{{ doc.document_type }}</td>
                    <td>{{ doc.document_number }}</td>
                    <td>{{ doc.document_date|date:"d.m.Y" }}</td>
                    <td>
                        <button data-id="{{ doc.id }}" type="button" class="btn btn-default open-modal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button data-id="{{ doc.id }}" type="button" class="btn btn-default" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
        <button data-id="" type="button" class="btn btn-default open-modal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>


{% endblock content %}

