{% extends 'medcard/menu.html' %}

{% block docmodal %}
<!-- Модальное окно редактирования документа -->
<div id="doc-modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content" id="modal-content">
    <!-- insert docmodal -->
    </div>
    </div>
</div>
{% endblock docmodal %}

{% block diagmodal %}
<!-- Модальное окно работы с диагнозом -->
<div id="diag-modal" class="modal fade">
    <div class="modal-dialog" style="overflow: auto; height: 90%;">
        <div class="modal-content" id="diagmodal-content">
    <!-- insert diagmodal -->
        </div>
    </div>
</div>
{% endblock diagmodal %}

{% block content %}


    <ul class="breadcrumb">
        <li style="font-size: 20px">Карточка пациента {{ p_card.surname }} {{ p_card.name }} {{ p_card.patronymic }}</li>
    </ul>
    <div class="row">

        <div class="col-md-12">
            <label class="col-md-2">Пол</label>
            {% if p_card.gender == 'm' %}
                <p class="col-md-3">мужской</p>
            {% else %}
                <p class="col-md-3">женский</p>
            {% endif %}
            <label class="col-md-2">Дата рождения</label>
            <p class="col-md-4">{{ p_card.birthday|date:"d.m.Y" }}</p>
            <div class="col-md-1">
                <a class="btn btn-default" href="{% url 'medcard.views.card_edit' person_id=p_card.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2">Группа крови</label>
            <p class="col-md-3">{{ p_card.blood }}</p>
            <label class="col-md-2">Место проживания</label>
            <p class="col-md-5">{{ p_card.residence }}</p>
        </div>

        <div class="col-md-12">
            <label class="col-md-2">Резус</label>
            {% if p_card.rh == 'p' %}
                <p class="col-md-3">положительный</p>
            {% else %}
                <p class="col-md-3">отрицательный</p>
            {% endif %}
            {% if p_phone.phoneType == 'm' %}
                <label class="col-md-2">Сотовый телефон</label>
            {% elif p_phone.phoneType == 'w' %}
                <label class="col-md-2">Рабочий телефон</label>
            {% else %}
                <label class="col-md-2">Телефон</label>
            {% endif %}
            <p class="col-md-5">{{ p_phone.phoneNumber }}</p>

        </div>
        <div class="col-md-12">
            {% if p_email.emailType == 'p' %}
                <label class="col-md-2 col-md-offset-5">Личный e-mail</label>
            {% elif p_email.emailType == 'w' %}
                <label class="col-md-2 col-md-offset-5">Рабочий e-mail</label>
            {% else %}
                <label class="col-md-2 col-md-offset-5">e-mail</label>
            {% endif %}
            <p class="col-md-5">{{ p_email.email }}</p>

        </div>
    </div>



<div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#diags" role="tab">Диагноз</a></li>
        <li><a data-toggle="tab" href="#anamnes" role="tab">Анамнез</a></li>
        <li><a data-toggle="tab" href="#docs" role="tab">Документы</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="diags" class="tab-pane fade in active">
        <h4>Диагноз</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Код классификатора</th>
                <th>Конечный диагноз</th>
                <th>Дата постановки диагноза</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for diag in p_card.diagnosisrelation_set.all %}

                <tr>
                    <td>{{ diag.diagnosis.code }}</td>
                    <td>{{ diag.diagnosis.name }}</td>
                    <td>{{ diag.create_date|date:"d.m.Y" }}</td>
                    <td>
                        <input id="id_diagnosis" class="hidden" value="{{ diag.diagnosis.id }}" />
                        <button data-id="{{ diag.id }}" type="button" class="btn btn-default open-diagmodal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button data-id="{{ diag.id }}" type="button" class="btn btn-default diag-del"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
        <button data-id="" type="button" class="btn btn-default open-diagmodal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div id="anamnes" class="tab-pane fade">
        <h4>Анамнез</h4>
        <p>Some content in menu 1.</p>
    </div>
    <div id="docs" class="tab-pane fade">
        <h4>Документы</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип документа</th>
                <th>Номер документа</th>
                <th>Дата выдачи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for doc in p_card.humandocument_set.all %}
                <tr>
                    <td>{{ doc.document_type }}</td>
                    <td>{{ doc.document_number }}</td>
                    <td>{{ doc.document_date|date:"d.m.Y" }}</td>
                    <td>
                        <button data-id="{{ doc.id }}" type="button" class="btn btn-default open-modal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button data-id="{{ doc.id }}" type="button" class="btn btn-default doc-del"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
        <button data-id="" type="button" class="btn btn-default open-modal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>


{% endblock content %}

