{% extends 'medcard/menu.html' %}

{% block content %}

      <!-- Main component for a primary marketing message or call to action -->

      <div class="row">
          <h1>Результаты поиска</h1>


          <div class="panel panel-default">
            <!-- Default panel contents -->
              <div class="panel-heading">Список пациентов</div>

           <!-- Table -->
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Фамилия</th>
                          <th>Имя</th>
                          <th>Отчество</th>
                          <th>Дата рождения</th>
                          <th>Место жительства</th>
                          <th>Пол</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for p_card in found_card %}

                      <tr>
                          <td><a href="{% url 'medcard.views.personcard' person_id=p_card.id %}"><u>{{ p_card.surname }}</u></a></td>
                          <td>{{ p_card.name }}</td>
                          <td>{{ p_card.patronymic }}</td>
                          <td>{{ p_card.birthday|date:"d.m.Y" }}</td>
                          <td>{{ p_card.residence }}</td>
                          {% if p_card.gender == 'm' %}
                          <td>мужской</td>
                          {% else %}
                          <td>женский</td>
                          {% endif %}
                      </tr>
                  {% endfor %}

                  </tbody>
              </table>

      </div>

{% endblock content %}

